footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #333;
  height: 70px;
  padding: 0 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer .menuItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
footer .icon {
  height: 24px;
  width: 24px;
}
footer label {
  font-size: 10px;
  margin-top: 4px;
}
footer .qrWrapper {
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
  height: 70px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
}
footer .qrIcon {
  height: 40px;
  width: 40px;
}
